{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
  <link href="{{url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static', filename='images/add.png') }}">
{% endblock %}

{% block title %}Add A HotSpot{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new joint to our list</h1>

      {{ wtf.quick_form(form, novalidate=True) }}

	  <p class="space-above"><a href="{{ url_for('all_cafes') }}">See all spots</a></p>

    </div>
  </div>
</div>

{% endblock %}